body {
  padding: 10px;
}

.button-group {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px;
  margin: 10px;
  color: white;
  border-radius: 10px;
}

.startBtn {
  background-color: #2ecc71;
}

.stopBtn {
  background-color: #e74c3c;
}

.chartGroup {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}